# ─── Variáveis de ambiente da aplicação KORP ───────────────────────────────
# Copie este arquivo para .env e preencha com os valores reais.

# URL base do backend (sem barra no final)
VITE_API_URL=https://api.tnd.com.br/v1

# URL pública deste front-end (sem barra no final)
# Este é o valor que deve ser usado como FRONTEND_URL no .env do back-end, # pois é a única origem que o CORS irá liberar.
# No final das contas, quem vai definir a URL final é o Jandão na compra do domonio
VITE_APP_URL=https://app.tnd.com.br

# Ambiente (development | production)
VITE_ENV=development