body {
  background: linear-gradient(120deg, #e0e7ff, #f8fafc);
  overflow: hidden;
}

.pedido-wrapper {
  margin: 0 22.2px;
  padding: 4px 0 0;

  min-height: calc(100vh - 80px); /* respeita navbar real */
  display: flex;
  flex-direction: column;
}

.pedido-header {
  margin-bottom: 12px;
  flex-shrink: 0;
}

.pedido-header h1 {
  font-size: 26px;
  font-weight: 700;
}

.pedido-header p {
  color: #64748b;
}

.pedido-content {
  display: grid;
  grid-template-columns: 1.6fr 1fr; /* antes 2fr 1fr */
  gap: 20px;
  align-items: flex-start;
  flex: 1;
  min-height: 0;
}

/* SCROLL só na esquerda */
.form-area {
  overflow-y: auto;
  padding-right: 6px;

  max-height: calc(100vh - 120px); /* ajusta com navbar + header */
}

/* FIXO na direita */
.resumo-area {
  position: sticky;
  top: 80px; /* respeita navbar */
  height: calc(100vh - 100px);
  overflow: hidden;
}